<% include ../partials/header %>

<div class="container">
<div class="row" style="margin: auto; width: 100%; padding: 10px;">
<% 
for(const deviceNameKey in deviceObj){
    /* Remove spaces from device name so that the bootstrap collapse class will work correctly  */
  	let deviceNameStr = deviceNameKey.replace(/\s/g,'');
%>   
	<div class="col-md-12">
		<div class="well col-md-12">
			<!--Setting up the add new schedule button that is used for collapsing-->
	        <div cla ss="text-right">
	            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapse<%=deviceNameStr%>" aria-expanded="false" aria-controls="collapse<%=deviceNameStr%>">
	            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Show Devices</a>
	        </div>
	        <div class="text-left">
	        	<h4><strong><%=deviceNameKey%></strong></h4>
	        	<strong><i class="fa fa-gear" aria-hidden="true"></i> Configure <%=deviceNameKey%></strong>
	    	</div>
	    	<div class="collapse" id="collapse<%=deviceNameStr%>">
				<div class="rTable">
					<div class="rTableRow">
						<div class="rTableHead"><strong>IP Address</strong></div>
						<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
						<div class="rTableHead"><span style="font-weight: bold;">Device GPIOs</span></div>
					</div>
				<% deviceObj[deviceNameKey].forEach(function(device){ %>
					<div class="rTableRow">
						<div class="rTableCell"><%=device.local_ip%></div>
						<div class="rTableCell"><%=device.deviceName%></div>
						<div class="rTableCell"><%=device.gpio%></div>
						<div style="float:left;margin-left: 5%"> 
							<a class="btn btn-warning" href="/devices/<%=device._id%>/edit">Edit</a>
			            </div>
					</div>
				<% }); %>
				</div>
			</div>
		</div>
	</div>	
<%  } %>
</div>
</div>
<% include ../partials/footer %>