<% include ../partials/header %>
<body>
	<div class="container">
	<div class="row" style="    margin: auto;
	    width: 75%;
	    padding: 10px;">
		<div class="col-md-9">
			<h2>My DHT11 Sensors</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device GPIOs</span></div>
				</div>
				<% dht11Arr.forEach(function(dht11){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=dht11.local_ip%></div>
					<div class="rTableCell"><%=dht11.deviceName%></div>
					<div class="rTableCell"><%=dht11.gpio%></div>
					<div style="float:left;margin-left: 5%"> 
						<a class="btn btn-warning" href="/devices/<%=dht11._id%>/edit">Edit</a>
		            </div>
				</div>
				<% }); %>
			</div>
		</div>
		<div class="col-md-9">
			<h2>My DHT22 Sensors</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device GPIO</span></div>
				</div>
				<% dht22Arr.forEach(function(dht22){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=dht22.local_ip%></div>
					<div class="rTableCell"><%=dht22.deviceName%></div>
					<div class="rTableCell"><%=dht22.gpio%></div>
					<div style="float:left;margin-left: 5%">
						<a class="btn btn-warning" href="/devices/<%=dht22._id%>/edit"  >Edit</a>
		            </div>
				</div>
				<% }); %>
			</div>
		</div>
		<div class="col-md-9">
			<h2>My Relays</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device GPIO</span></div>
				</div>
				<% relayArr.forEach(function(relay){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=relay.local_ip%></div>
					<div class="rTableCell"><%=relay.deviceName%></div>
					<div class="rTableCell"><%=relay.gpio%></div>
					<div style="float:left;margin-left: 5%">
						<a class="btn btn-warning" href="/devices/<%=relay._id%>/edit">Edit</a>
		            </div>
				</div>
				<% }); %>
			</div>
		</div>
		<div class="col-md-9">
			<h2>My Soil Sensors</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device GPIO</span></div>
				</div>
				<% soilArr.forEach(function(soil){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=soil.local_ip%></div>
					<div class="rTableCell"><%=soil.deviceName%></div>
					<div class="rTableCell"><%=soil.gpio%></div>
					<div style="float:left;margin-left: 5%">
						<a class="btn btn-warning" href="/devices/<%=soil._id%>/edit">Edit</a>
		            </div>
				</div>
				<% }); %>
			</div>
		</div>
		<div class="col-md-9">
			<h2>My Water Sensors</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device Name</span></div>
					<div class="rTableHead"><span style="font-weight: bold;">Device GPIO</span></div>
				</div>
				<% waterArr.forEach(function(water){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=water.local_ip%></div>
					<div class="rTableCell"><%=water.deviceName%></div>
					<div class="rTableCell"><%=water.gpio%></div>
					<div style="float:left;margin-left: 5%">
						<a class="btn btn-warning" href="/devices/<%=water._id%>/edit">Edit</a>
		            </div>
				</div>
				<% }); %>
			</div>
		</div>
	</div>
	</div>
</body>
<% include ../partials/footer %>