<% include ../partials/header %>
<div class="container" style="width: 100%;">
<div class="row" style="width: 100%;">
    <h1 style="text-align: center;">Edit Room <%=room['roomName']%></h1>
    <div style="width: 50%; margin:25px auto;">
        <form action="/room/<%=room['_id']%>/?_method=PUT" method="POST" class="update-form">
            <fieldset>
                <legend>Room Details</legend>
            	<div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="roomName">Room Name</label>
                	<input class="col-sm-20" type="text" id="id" name="roomName" value="<%=room['roomName']%>"required>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="roomType">Room Type</label>
                    <select class="col-sm-20" name="roomType" required>
                        <option value="-1" selected="selected" disabled>Select Your Room Type</option>
                        <%  let roomTypes = ["Vegetative and Flowering", "Vegetative", "Flowering"]
                            roomTypes.forEach(function(roomType){ 
                        %>
                        <option value="<%=roomType%>" <% if (room['roomType'] === roomType) { %>selected="selected"<% } %>><%=roomType%></option>
                        <%  }) %>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label" for="roomGrowSystem">Room Grow System</label>
                    <select class="col-sm-20" name="roomGrowSystem" required>
                        <option value="-1" selected="selected" disabled>Select Your Room's Grow System</option>
                        <%  let roomGrowSystem = ["Soil", "Ebb and Flow"]
                            roomGrowSystem.forEach(function(growSystem){ 
                        %>
                            <option value="<%=growSystem%>" <% if (room['roomGrowSystem'] === growSystem) { %>selected="selected"<% } %>><%=growSystem%></option>
                        <%  }) %>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend>Room Device Details</legend>
             <% 
                for(const deviceNameKey in deviceObj){
                    /* Remove spaces from device name so that the bootstrap collapse class will work correctly  */
                    let deviceNameStr = deviceNameKey.replace(/\s/g,'');
                    if(deviceNameKey === "Relay Server"){ 
                %>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="roomDeviceIds"><%=deviceNameKey%></label>
                        <select onchange="relaySelectFn(this)" id="relayServerSelect" class="col-sm-20" name="roomDeviceIds" multiple="true" required>
                            <option value="-1" disabled>Select Your <%=deviceNameKey%></option>
                            <% 
                                deviceObj[deviceNameKey].forEach(function(device){ 
                            	   if(room['roomDeviceIds'].includes(device['_id'])){
                            %>
                            	<option value="<%=device['_id']%>" selected='true'><%=device['deviceName']%></option>
                            <%      } else { %>
                            	<option value="<%=device['_id']%>"><%=device['deviceName']%></option>
                            <%
                                	}
                                });
                            %>
                        </select>
                    </div>

                <%  
                    } else {
                %>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="roomDeviceIds"><%=deviceNameKey%></label>
                        <select class="col-sm-20" name="roomDeviceIds" multiple="true">
                            <option value="-1" selected="selected" disabled>Select Your <%=deviceNameKey%></option>
                            <% 
                                deviceObj[deviceNameKey].forEach(function(device){ 
                                   if(room['roomDeviceIds'].includes(device['_id'])){
                            %>
                                <option value="<%=device['_id']%>" selected='true'><%=device['deviceName']%></option>
                            <%      } else { %>
                                <option value="<%=device['_id']%>"><%=device['deviceName']%></option>
                            <%
                                    }
                                });
                            %>
                        </select>
                    </div>
                <%

                    }      
                }
            %>  
            </fieldset>
            <fieldset id="waterDetailsContainer">
                <legend>Water Pump Details</legend>
                <% 
                        
                    let deviceNameKey = "Relay Server"

                    // are there any water pumps available?
                    if(deviceNameKey in deviceObj && availableWaterPumps.length > 0) { 
                        // loop through each water pump to display on the screen
                        availableWaterPumps.forEach(function(waterPump){
                            let relayName = "",
                                isPumpInRoom = false,
                                waterDetailsIdx = -1,
                                containerSize = undefined,
                                numOfWaterLines;

                            // we need to grab the relay name to display extra water configs on screen
                            deviceObj[deviceNameKey].forEach(function(device){ 
                                if(device['_id'].toString() === waterPump['relayId'].toString()){
                                    relayName = device['deviceName'];
                                }
                            });

                            // Does the current room include this water pump?
                            if(room['roomDeviceIds'].includes(waterPump['relayId'].toString())){
                                // we will display the extra HTML below to allow the user configure extra water settings for the current water pump
                                isPumpInRoom = true; 

                                waterDetailsIdx = room['roomWaterDetails'].findIndex(function(water_config){ 
                                    return water_config['relayId'].toString() === waterPump['relayId'].toString()
                                })
                            }
                        
                    %>
                    <div id="<%=waterPump['relayId']%>" <% if(!isPumpInRoom) { %> hidden <% } %>>

                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[relayId]">Water Pump Details for <%=relayName%> - GPIO - <%=waterPump['gpio']%></label>
                            <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[relayId]" value="<%=waterPump['relayId']%>" required readonly hidden <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[relaySettingsId]"></label>
                            <input class="col-sm-20" type="text" id="relaySettingsId" name="roomWaterDetails[relaySettingsId]" value="<%=waterPump['_id']%>" <% if(!isPumpInRoom) { %> disabled="true" <% } %> required readonly hidden>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[pumpWaterFlowRate]">Water Flow Rate (GPH)</label>
                            <input class="col-sm-20" type="text" id="pumpWaterFlowRate" name="roomWaterDetails[pumpWaterFlowRate]" 
                            <% if(waterDetailsIdx !== -1) { %> value="<%=room['roomWaterDetails'][waterDetailsIdx]['pumpWaterFlowRate']%>" <% } %>  <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[manifoldPortWaterFlowRate]">Manifold Port Water Flow Rate (GPH)</label>
                            <input class="col-sm-20" type="text" id="pumpWaterFlowRate" name="roomWaterDetails[manifoldPortWaterFlowRate]" 
                            <% if(waterDetailsIdx !== -1) { %> value="<%=room['roomWaterDetails'][waterDetailsIdx]['manifoldPortWaterFlowRate']%>" <% } %>  <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[containerSize]">Container Size (Gallons)</label>
                            <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[containerSize]" 
                            <% if(waterDetailsIdx !== -1) { %> value="<%=room['roomWaterDetails'][waterDetailsIdx]['containerSize']%>" <% } %>  <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[numOfLines]">Number of Water Lines</label>
                            <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[numOfWaterLines]"
                            <% if(waterDetailsIdx !== -1) { %> value="<%=room['roomWaterDetails'][waterDetailsIdx]['numOfWaterLines']%>" <% } %> 
                            <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="roomWaterDetails[numOfLinesUsed]">Number of Water Lines in Use</label>
                            <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[numOfWaterLinesUsed]"
                            <% if(waterDetailsIdx !== -1) { %> value="<%=room['roomWaterDetails'][waterDetailsIdx]['numOfWaterLinesUsed']%>" <% } %> 
                            <% if(!isPumpInRoom) { %> disabled="true" <% } %>>
                        </div>
                    </div>
                    <%

                        }) 
                        

                    }      
            
                %>  
            </fieldset>
            <div class="form-group row">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/room">Go Back</a>
    </div>
<% include ../partials/footer %>


