<% include ../partials/header %>
<style>
	.card-header .fa {
		transition: .3s transform ease-in-out;
	}
	.card-header .collapsed .fa {
		transform: rotate(90deg);
	}
</style>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<!-- Show Journals -->
		<div class="card">
			<div class="card-header">
			<!--Setting up the add new schedule button that is used for collapsing-->
		    	<div class="float-left">
		        	<h4 class="card-title">
		        		<strong><i class="fas fa-building"></i> Room Details</strong>
		        	</h4>
		        	
		    	</div>
		        <div class="float-right">
		            <a class="collapsed d-block btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
		            <i class="fa fa-chevron-down pull-right"></i> Show Rooms</a>
		        </div>
	    	</div>

        	<div class="collapse" id="collapse">
        		<div class="card-body">
        			<table class="table">
			    		<thead>
			    			<tr>
			    				<th scope="col">Room Name</th>
			    				<th scope="col">Room Type</th>
			    				<th scope="col">Room Grow System</th>
			    				<!-- <th scope="col">Room Water Pump Details</th> -->
		<!-- 		         	<% 
				                for(const deviceNameKey in allDevicesObj){
				                    /* Remove spaces from device name so that the bootstrap collapse class will work correctly  */
				                    let deviceNameStr = deviceNameKey.replace(/\s/g,'');
			                %>	
			                	<th scope="col"><%=deviceNameKey%></th>
	                        <%
			                	}
			                %>	 -->
			                	<th scope="col">Device</th>
			    				<th scope="col">Actions</th>
			    			</tr>
			    		</thead>

			    		<tbody>
			    								<!-- Do we have any rooms set up? -->
							<%
								if(rooms){
									rooms.forEach(function(room){
							%>
			    			<tr>
			                	<td><%=room['roomName']%></td>
			                	<td><%=room['roomType']%></td>
			                	<td><%=room['roomGrowSystem']%></td>
			    <!--             	<td>
								<% 
									room['roomWaterDetails'].forEach(function(pumpDetails){
								%>
								Water Flow Rate(GPH): <%=pumpDetails['waterFlowRate']%><br/>
								Container Size: <%=pumpDetails['containerSize']%><br/>
								Number of Water Lines: <%=pumpDetails['numOfWaterLines']%></br>
								<%
									})

								%>
			                	</td> -->
    							<% 
    								let deviceMatches = []
					                for(const deviceNameKey in allDevicesObj){
					                	
					                	allDevicesObj[deviceNameKey].forEach(function(device){
					                		if(room['roomDeviceIds'].includes(device['_id'])){
					                			deviceMatches.push(" " + device['deviceName']);
					                		}
					                	});
					            %>
						       
					        	<% 
					        		}
					        	%>
				        	 	<td><%=deviceMatches%></td>
			    				<td>
									<table>
										<tbody>
											<tr>
												<td>
													<a class="btn btn-warning" href="/room/<%=room['_id']%>/edit">Edit</a>
												</td>
												<td>
											       <form action="/room/<%=room['_id']%>/?_method=DELETE" method="POST" class="delete-form">
											            <button class="btn btn-danger">Delete</button>
											        </form>
											    </td>
											</tr>
										</tbody>
									</table>
							
								</td>
			    			</tr>
							<%
									});
								}
							%>
			    		</tbody>
			    	</table>
				</div>
        	</div>
		    <div class="card-footer ">
				<!--Setting up the add new room button that is used for collapsing-->
		        <div class="text-right">
		            <a class="btn btn-success pull-left" role="button" data-toggle="collapse" href="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
		            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Rooms</a>
		        </div>
	        	<!--Collapse Add a room form START-->
	        	<div class="collapse" id="collapseNew">
					<% include ./new %>
		    
		    	</div>
		    	<!--Collapse Add a room form END-->
		    </div>
		</div>

	</div>
</div>
</div>
<% include ../partials/footer %>