<script type="text/javascript">
    // When a user selects a Relay Server from the multiselect form and it is determined (from 
    // EJS code below) that this relay is associated with a 'water pump' device, this function
    // will target extra inputs that are hidden below the Relay Server multiselect form
    // and make them visible to the user. This will offer a dynamic way to gather more data
    // on the water pump being used, the container size it's in, and how many lines are being used
    // If a user selects multiple Relay Servers that powers a water pump, this function will
    // display as many additional inputs as needed.
    // If a user deselects a Relay Server that powers a water pump, that the additional
    // inputs that were displayed are hidden and disabled to prevent that data from being posted
    // back to the server.
    function relaySelectFn(event) {
        let waterDetailsContainer = document.getElementById("waterDetailsContainer");
        let relayServerSelect = document.getElementById("relayServerSelect");

        let isOneEleVisible = false;
        for(let i = 0; i < event.options.length; i++){
            let waterDetailsId = event.options[i].value;
            if(waterDetailsId !== "-1"){
                let waterDetailsEle = document.getElementById(waterDetailsId);
                if(waterDetailsEle !== null){

                    let waterDetailsChildren = waterDetailsEle.children;
        
                    if(event.options[i].selected){
                        waterDetailsContainer.hidden = false;
                        waterDetailsEle.hidden = false;

                        isOneEleVisible = true;
                        // 3x <div class="form-group row">
                        // 1x <hr style="border: 1px solid black;">
                        for(let k = 0; k < waterDetailsChildren.length; k++){
                            // our divs have child nodes, but the hr does not
                            // the divs contain our inputs which we need to enable
                            // so that they can be posted back to the server
                            if(waterDetailsChildren[k].children.length){
                                let waterDetailsNestedChildren = waterDetailsChildren[k].children;
                                for(let j = 0; j < waterDetailsNestedChildren.length; j++){
                                    if(waterDetailsNestedChildren[j].tagName.toLowerCase() === 'input'){
                                        let input = waterDetailsNestedChildren[j];
                                        input.disabled = false;

                                    }
                                }
                            }
                        }
                    }else{
                        waterDetailsContainer.hidden = false
                        waterDetailsEle.hidden = true;

                        // 3x <div class="form-group row">
                        // 1x <hr style="border: 1px solid black;">
                        for(let k = 0; k < waterDetailsChildren.length; k++){
                            // our divs have child nodes, but the hr does not
                            // the divs contain our inputs which we need to enable
                            // so that they can be posted back to the server
                            if(waterDetailsChildren[k].children.length){
                                let waterDetailsNestedChildren = waterDetailsChildren[k].children;
                                for(let j = 0; j < waterDetailsNestedChildren.length; j++){
                                    if(waterDetailsNestedChildren[j].tagName.toLowerCase() === 'input'){
                                        let input = waterDetailsNestedChildren[j];
                                        input.disabled = true;

                                    }
                                }
                            }
                        }
                    }   
                }
            }
        }
        if(isOneEleVisible === false){
            waterDetailsContainer.hidden = true;
        }
    }
</script>
<div class="collapse" id="collapseNew">
    <div class="well" style="border-left: 5px solid #00C851;">
        <!--If the user is logged in, show the new schedule form-->
        <h4>Add your room details <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
        <form id="add-comment-form" action="/room" method="POST">
            <hr style="border: 1px solid black;">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="roomName">Room Name</label>
            	<input class="col-sm-20" type="text" id="id" name="roomName" required>
            </div>
            <hr style="border: 1px solid black;">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="roomType">Room Type</label>
                <select class="col-sm-20" name="roomType" required>
                    <option value="-1" selected="selected" disabled>Select Your Room Type</option>
                    <option value="Vegetative and Flowering">Vegetative and Flowering</option>
                    <option value="Vegetative">Vegetative</option>
                    <option value="Flowering">Flowering</option>
                </select>
            </div>
            <hr style="border: 1px solid black;">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="roomGrowSystem">Room Grow System</label>
                <select class="col-sm-20" name="roomGrowSystem" required>
                    <option value="-1" selected="selected" disabled>Select Your Room's Grow System</option>
                    <option value="Soil">Soil</option>
                    <option value="Ebb and Flow">Ebb and Flow</option>
                </select>
            </div>
            <hr style="border: 1px solid black;">
            <% 
                for(const deviceNameKey in availableDevicesObj){
                    /* Remove spaces from device name so that the bootstrap collapse class will work correctly  */
                    let deviceNameStr = deviceNameKey.replace(/\s/g,''); 
                    /* Relay Server is the only device type that's required to create a room
                    */
                    if(deviceNameKey === "Relay Server"){ 
                %>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="roomDeviceIds"><%=deviceNameKey%></label>
                        <select onchange="relaySelectFn(this)" id="relayServerSelect" class="col-sm-20" name="roomDeviceIds" multiple="true" required>
                            <option value="-1" selected="selected" disabled>Select Your <%=deviceNameKey%></option>
                            <% availableDevicesObj[deviceNameKey].forEach(function(device){ 
                            %>
                                <option value="<%=device['_id']%>"><%=device['deviceName']%></option>
                            <% }); %>
                        </select>
                    </div>
                    <hr style="border: 1px solid black;">
                    <div id="waterDetailsContainer">
                    <% 
                        if(availableWaterPumps.length > 0) { 
                            availableWaterPumps.forEach(function(waterPump){
                            let relayName = "";
                            availableDevicesObj[deviceNameKey].forEach(function(device){ 
                                if(device['_id'].toString() === waterPump['relayId'].toString()){
                                    console.log("Ejs Found Device: " + device);
                                    relayName = device['deviceName'];
                                }
                            });
                            
                        %>
                        <div id="<%=waterPump['relayId']%>" hidden>

                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label" for="roomWaterDetails[relayId]">Water Pump Details for <%=relayName%></label>
                                <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[relayId]" value="<%=waterPump['relayId']%>" required readonly hidden disabled="true">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label" for="roomWaterDetails[waterFlowRate]">Water Pump's Water Flow Rate (GPH)</label>
                                <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[waterFlowRate]" disabled="true">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label" for="roomWaterDetails[containerSize]">Container Size (gallons)</label>
                                <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[containerSize]" disabled="true">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label" for="roomWaterDetails[numOfLines]">Number of Water Lines</label>
                                <input class="col-sm-20" type="text" id="relayId" name="roomWaterDetails[numOfWaterLines]" disabled="true">
                            </div>
                            <hr style="border: 1px solid black;">
                        </div>
                        <%

                            }) 
                        %>
                    <% 
                        }
                    %>
                    </div>

                <%
                    } else {
                %>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label" for="roomDeviceIds"><%=deviceNameKey%></label>
                        <select id="roomDeviceIds" class="col-sm-20" name="roomDeviceIds" multiple="true">
                            <option value="-1" selected="selected" disabled>Select Your <%=deviceNameKey%></option>
                            <% availableDevicesObj[deviceNameKey].forEach(function(device){ 
                            %>
                                <option value="<%=device['_id']%>"><%=device['deviceName']%></option>
                            <% }); %>
                        </select>
                    </div>
                    <hr style="border: 1px solid black;">
                <%  
                    }   
                }
            %>  
        
            <div class="form-group row">
                <button class="btn btn-success btn-sm">Add Room <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>

<!--Collapse Add a schedule form END-->