<% include ../partials/header %>

<div class="container">

	<h2>My Devices</h2>
	<% 
	for(const deviceNameKey in deviceObj){
	    /* Remove spaces from device name so that the bootstrap collapse class will work correctly  */
	  	let deviceNameStr = deviceNameKey.replace(/\s/g,'');
	%>   
	<div class="row">
		<div class="col-12">
			<div class="card border-dark mb-3">
				<div class="card-header">
					<!--Setting up the add new schedule button that is used for collapsing-->
			        <div class="float-right">
			            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapse<%=deviceNameStr%>" aria-expanded="false" aria-controls="collapse<%=deviceNameStr%>">
			            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Show Devices</a>
			        </div>
			        <div class="float-left">
			        	<h4><strong><%=deviceNameKey%></strong></h4>
			        	<strong><i class="fa fa-gear" aria-hidden="true"></i> Configure <%=deviceNameKey%></strong>
			    	</div>
			    </div>

		    	<div class="collapse" id="collapse<%=deviceNameStr%>">
		    		<div class="card-body">

				    	<table class="table">
				    		<thead>
				    			<tr>
				    				<th scope="col">Device Name</th>
				    				<th scope="col">IP Address</th>
				    				<th scope="col">Device GPIOs</th>
				    				<th scope="col">Actions</th>
				    			</tr>
				    		</thead>
				    		
				   			<tbody>
				   				<% 
				   					deviceObj[deviceNameKey].forEach(function(device){ 
				   				%>
								<tr>
									<td><%=device.deviceName%></td>
									<td><%=device.local_ip%></td>
									<td><%=device.gpio%></td>
									<td><a class="btn btn-warning" href="/device/<%=device._id%>/edit">Edit</a></td>
								</tr>
								<% 
									}); 
								%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%  } %>
</div>
<% include ../partials/footer %>