<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit Schedule</h1>
        <div style="width: 30%; margin:25px auto;">
            <form action="/schedule/<%=schedule._id%>/local_ip/<%=schedule.local_ip%>/?_method=PUT" method="POST" class="update-form">
                <div class="form-group">
		                    	<select name="local_ip">
		                    		<option value="-1" selected="selected" disabled>Select Your Relay's IP Address:</option>
		                    		<option value=<%=schedule.local_ip%>><%=schedule.local_ip%></option>
		                    	</select>
	  							<select name="gpio">
		                    		<option value="-1" selected="selected" disabled>Select Your GPIO:</option>
									<option value="2">2</option>
									<option value="3">3</option>
	  							</select>
								<input type="time" id="time" name="time" value="<%=schedule.hour%>:<%=schedule.min%>" required>
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-success btn-sm">Add Schedule <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
		                    </div>
		                </form>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/schedule">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>