<% include ../partials/header %>

<style>
	.weekDays-selector input {
	  display: none!important;
	}

	.selectedCheckbox {
	  background: #2AD705 !important;
	  color: #ffffff !important;
	}
	.deselectedCheckbox {
	  display: inline-block;
	  border-radius: 6px;
	  background: #dddddd;
	  height: 40px;
	  width: 30px;
	  margin-right: 3px;
	  line-height: 40px;
	  text-align: center;
	  cursor: pointer;
	}


	.card-header .fa {
	  transition: .3s transform ease-in-out;
	}
	.card-header .collapsed .fa {
	  transform: rotate(90deg);
	}


</style>
<div class="container">
	<h2>My Schedules</h2>
	<!-- Show schedules for each relay device - sorted by local ip address -->
	<!-- Remove periods from our local ip address so that the bootstrap collapse class works correctly -->
	<% devices.forEach(function(device){ let ipStr = device['local_ip'].replace(/\./g,''); %>
	<div class="row">
	<div class="col-12">
	<div class="card border-dark mb-3">
	    <%
	    	let targetRelayDevice = device['_id'].toString(),
	    		exists = (room) => room['roomDeviceIds'].includes(targetRelayDevice);
	    	    isDeviceInRoom = rooms.some(exists);
	    	if(isDeviceInRoom === false){
	    %>
        <div class="card-header bg-warning">
	    	<div class="float-left">
	        	<h4><strong><%=device['deviceName']%></strong></h4>
	        	<strong>Schedules for <%=device["local_ip"]%> <i class="fa fa-calendar" aria-hidden="true"></i></strong>
    		</div>
	
		</div>
    	<div class="card-footer border-info">
	  		<div class="float-left">
    			<span class="alert alert-danger" role="alert">&#10071 This relay server needs to be set up in a room!</span>
    		</div>
	      	<div class="float-right">
				<a class="btn btn-warning" href="/room" >Go To Rooms Page</a>
			</div>
    	</div>
        <%
    		} else {
    	%>
    	<div class="card-header bg-success">
	        <!--Schedule section-->
	    	<div class="float-left">
	        	<h4><strong><%=device['deviceName']%></strong></h4>
	        	<strong>Schedules for <%=device["local_ip"]%> <i class="fa fa-calendar" aria-hidden="true"></i></strong>
	    	</div>
	        <div class="float-right">
	            <a class="collapsed d-block btn btn-info pull-right" role="button" data-toggle="collapse" href="#collapse<%=ipStr%>" aria-expanded="false" aria-controls="collapse<%=ipStr%>">
            		<i class="fa fa-chevron-down pull-right"></i>
	             	Show Schedules
	         	</a>
	        </div>
    	</div>
    	<div class="collapse" id="collapse<%=ipStr%>">
	    	<div class="card-body">
				<!--Setting up the add new schedule button that is used for collapsing-->
		    	<table class="table">
		    		<thead>
		    			<tr>
		    				<th scope="col">Device</th>
		    				<th scope="col">Time</th>
		    				<th scope="col">Day of Week</th>
		    				<th scope="col">Date</th>
		    				<th scope="col">On/Off</th>
		    				<th>Actions</th>
		    			</tr>
		    		</thead>
					<!-- Do we have any schedules set up for the current device? -->
					<% include ./show %>
					<!--Setting up the add new schedule button that is used for collapsing-->
			   
				</table>
		    </div>
    	</div>
	    <div class="card-footer border-info">
        	<div class="text-right">
	            <a class="btn btn-success pull-left" role="button" data-toggle="collapse" href="#collapse<%=ipStr%>New" data-target="#collapse<%=ipStr%>New" aria-expanded="false" aria-controls="collapse<%=ipStr%>New" onclick="collapseMenu('collapse<%=ipStr%>NewTest')">
	            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Manual Schedule</a>
	    
	            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapse<%=ipStr%>NewTest" data-target="#collapse<%=ipStr%>NewTest" aria-expanded="false" aria-controls="collapse<%=ipStr%>NewTest" onclick="collapseMenu('collapse<%=ipStr%>New')">
	            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Smart Schedule</a>
	        </div>
        <!--Collapse Add a schedule form START-->
		<% include ./new %>
        <!--Collapse Add a schedule form END-->
        </div>
    	<%
    		}
    	%>
	</div>
	</div>
	</div>
	<!-- END Div Well -->
	<% }); %>
	
</div>

<script type="text/javascript">
	let dateControl = document.querySelectorAll('input[type="date"]');
	let currDate = new Date().toISOString().split("T")[0];
	console.log(dateControl);
	dateControl.forEach((myInput) => myInput.min = currDate);
</script>
<% include ../partials/footer %>