<% include ../partials/header %>
<script type="text/javascript">
	function myFunction(id) {
		console.log(id);
		var x = document.getElementById(id);
		if (x.style.display === "none") {
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	} 
</script>
<style>
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
</style>
<body>
	<div class="container">
	<div class="row" style="    margin: auto;
	    width: 75%;
	    padding: 10px;">
		<div class="col-md-9">
			<h2>My Schedules</h2>
			<!-- Show schedules for each relay device -->
			<% devices.forEach(function(device){ var ipStr = device['local_ip'].replace(/\./g,''); %>
			<div class="well">
				<!--Setting up the add new schedule button that is used for collapsing-->
		        <div class="text-right">
		            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapse<%=ipStr%>" aria-expanded="false" aria-controls="collapse<%=ipStr%>">
		            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Show Schedules</a>
		        </div>
		        <!--Schedule section-->
		        <h4><strong>Schedules for <%=device["local_ip"]%> <i class="fa fa-calendar" aria-hidden="true"></i></strong></h4>
	        	<div class="collapse" id="collapse<%=ipStr%>">
	        		<div class="rTable">
						<div class="rTableRow">
							<div class="rTableHead"><strong>IP Address</strong></div>
							<div class="rTableHead"><span style="font-weight: bold;">Pin #</span></div>
							<div class="rTableHead"><span style="font-weight: bold;">Time</div>
						</div>
						<!-- Do we have any schedules set up for the current device? -->
						<% if(schedules[device["local_ip"]]) { schedules[device["local_ip"]].forEach(function(schedule){ %>
						<div class="rTableRow">
							<div class="rTableCell"><%=schedule['local_ip']%></div>
							<div class="rTableCell"><%=schedule.gpio%></div>
							<div class="rTableCell"><%=schedule.hour%>:<%=schedule.minute%>:<%=schedule.second%></div>
							<div>
								<a class="btn btn-warning" href="/schedule/<%=schedule._id%>/edit" style="float:left;margin-left: 2.5%">Edit</a>
				                <form action="/schedule/<%=schedule._id%>/local_ip/<%=schedule.local_ip%>/?_method=DELETE" method="POST" class="delete-form" style="float:left;margin-left: 2.5%">
				                    <button class="btn btn-danger">Delete</button>
				                </form>
				            </div>
						</div>
						<% })} else{ %>
							<div>No schedules found!</div>
						<% } %>
						<br>
						<!--Setting up the add new schedule button that is used for collapsing-->
				        <div class="text-right">
				            <a class="btn btn-success pull-left" role="button" data-toggle="collapse" href="#collapse<%=ipStr%>New" aria-expanded="false" aria-controls="collapse<%=ipStr%>New">
				            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Schedule</a>
				        </div>
					</div>
	        	</div>
		        <!--Collapse Add a schedule form START-->
		        <div class="collapse" id="collapse<%=ipStr%>New">
		            <div class="well" style="border-left: 5px solid #00C851;">
		                <!--If the user is logged in, show the new schedule form-->
		                <h4>Add your new schedule <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
		                <form id="add-comment-form" action="/schedule" method="POST">
		                    <div class="form-group">
		                    	<input type="text" id="local_ip" name="local_ip" value="<%=device.local_ip%>" hidden required>
		                    </div>
		                    <div class="form-group">
		                    	<input type="text" id="_id" name="_id" value="<%=device._id%>" hidden required>
		                    </div>
		                    <div class="form-group">
		                    	<label for="gpio">Set GPIO: </label>
	  							<select name="gpio">
		                    		<option value="-1" selected="selected" disabled>Select Your GPIO:</option>
									<% device['gpio'].forEach(function(myGpio){%>
										<option value=<%=myGpio%>><%=myGpio%></option>
									<% }) %>
	  							</select>
	  						</div>
	  						<div class="form-group">
	  							<label for="time">Set Time: </label>
								<input type="time" id="time" name="time" value="13:30:00" step="1" required>
		                    </div>
		                    <div class="form-group">
		                    	<label for="DateCheckBox">Set Date?</label>
		                        <input type="checkbox" name="DateCheckBox" onclick="myFunction('<%=ipStr%>Date')" unchecked>
		                    </div>
		                    <div class="form-group">
		                    	<label for="DayOfWeekCheckBox">Set Day of Week?</label>
		                        <input type="checkbox" name="DayOfWeekCheckBox" onclick="myFunction('<%=ipStr%>DayOfWeek')" unchecked>
		                    </div>
		                    <div class="form-group" id="<%=ipStr%>Date" style="display:none">
		                    	<label for="date">Set Date: </label>
		                    	<input type="date" name="date">
		                    </div>
		                    <div class="form-group" id="<%=ipStr%>DayOfWeek" style="display:none">
		                    	<label for="weekDays-selector">Select day of week: </label>
		                    	<div class="weekDays-selector" id="weekDays-selector">
									<input type="checkbox" id="weekday-mon" name="dayOfWeek" class="weekday" value="0"/>
									<label for="weekday-mon">M</label>
									<input type="checkbox" id="weekday-tue" name="dayOfWeek" class="weekday" value="1"/>
									<label for="weekday-tue">T</label>
									<input type="checkbox" id="weekday-wed" name="dayOfWeek" class="weekday" value="2"/>
									<label for="weekday-wed">W</label>
									<input type="checkbox" id="weekday-thu" name="dayOfWeek" class="weekday" value="3"/>
									<label for="weekday-thu">T</label>
									<input type="checkbox" id="weekday-fri" name="dayOfWeek" class="weekday" value="4"/>
									<label for="weekday-fri">F</label>
									<input type="checkbox" id="weekday-sat" name="dayOfWeek" class="weekday" value="5"/>
									<label for="weekday-sat">S</label>
									<input type="checkbox" id="weekday-sun" name="dayOfWeek" class="weekday" value="6"/>
									<label for="weekday-sun">S</label>
								</div>
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-success btn-sm">Add Schedule <i class="fa fa-calendar" aria-hidden="true"></i></button>
		                    </div>
		                </form>
		            </div>
		        </div>
		        <!--Collapse Add a schedule form END-->
			</div>
			<% }); %>
		</div>
	</div>
	</div>
</body>
<% include ../partials/footer %>