<% include ../partials/header %>
<body>
	<div class="container">
	<div class="row" style="    margin: auto;
	    width: 75%;
	    padding: 10px;">
		<div class="col-md-9">
			<h2>My Schedules</h2>
			<div class="rTable">
				<div class="rTableRow">
					<div class="rTableHead"><strong>IP Address</strong></div>
					<div class="rTableHead"><span style="font-weight: bold;">Pin #</span></div>
					<div class="rTableHead">Time</div>
				</div>
				<% schedules.forEach(function(schedule){ %>
				<div class="rTableRow">
					<div class="rTableCell"><%=schedule.local_ip%></div>
					<div class="rTableCell"><%=schedule.gpio%></div>
					<div class="rTableCell"><%=schedule.hour%>:<%=schedule.minute%></div>
					<div>
						<a class="btn btn-warning" href="/schedule/<%=schedule._id%>/edit" style="float:left;margin-left: 2.5%">Edit</a>
		                <form action="/schedule/<%=schedule._id%>/local_ip/<%=schedule.local_ip%>/?_method=DELETE" method="POST" class="delete-form" style="float:left;margin-left: 2.5%">
		                    <button class="btn btn-danger">Delete</button>
		                </form>
		            </div>
				</div>
				<% }); %>
			</div>
			<div class="well">
		        <!--Setting up the add new comment button that is used for collapsing-->
		        <div class="text-right">
		            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
		            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Schedule</a>
		        </div>
		        <!--Comment section title-->
		        <h4><strong>Schedules <i class="fa fa-calendar" aria-hidden="true"></i></strong></h4>
		        <!--Collapse Add a comment form START-->
		        <div class="collapse" id="collapseComment">
		            <div class="well" style="border-left: 5px solid #00C851;">
		                <!--If the user is logged in, show the new comment form-->
		                <h4>Add your new schedule <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
		                <form id="add-comment-form" action="/schedule" method="POST">
		                    <div class="form-group">
		                    	<select name="local_ip">
		                    		<option value="-1" selected="selected" disabled>Select Your Relay's IP Address:</option>
		                    		<% devices.forEach(function(device){ %>
		                    			<option value=<%=device.local_ip%>><%=device.local_ip%></option>
		                    		<% }) %>
		                    	</select>
	  							<select name="gpio">
		                    		<option value="-1" selected="selected" disabled>Select Your GPIO:</option>
									<% devices[0]['gpio'].forEach(function(myGpio){%>
										<option value=<%=myGpio%>><%=myGpio%></option>
									<% }) %>
	  							</select>
								<input type="time" id="time" name="time" value="13:30:00" required>
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-success btn-sm">Add Schedule <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
		                    </div>
		                </form>
		            </div>
		        </div>
		        <!--Collapse Add a comment form END-->
		        <hr>
			</div>
		</div>
	</div>
	</div>
</body>
<% include ../partials/footer %>