<!--Collapse Add a schedule form START-->
<div class="collapse" id="collapse<%=ipStr%>New">
<div class="well" style="border-left: 5px solid #00C851;">
    <form id="add-comment-form" action="/schedule" method="POST">
        <fieldset>
            <legend>
                <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Add your new schedule details
            </legend>
            <div class="form-group row">
            	<input type="text" id="local_ip" name="device[local_ip]" value="<%=device['local_ip']%>" hidden required>
            </div>
            <div class="form-group row">
            	<input type="text" id="id" name="device[id]" value="<%=device['_id']%>" hidden required>
            </div>
            <div class="form-group row">
            	<label class="col-sm-6 col-form-label" for="gpio">Set GPIO: </label>
  				<select class="col-sm-20" name="device[gpio]">
            		<option value="-1" selected="selected" disabled>Select Your GPIO:</option>

					<% 
                        /* 
                         * For each gpio set up with the current device, find out if the current devices gpio has
                         * additional settings in the relaySettings (array) so that we use those settings to show 
                         * what that GPIO turns on/off (water pump, light, ac unit).
                         *
                         * if no matches are found, the device's GPIO is used by default
                         */
                        device['gpio'].forEach(function(myGpio){
                            let matchFound = false;
                            relaySettings.forEach(function(relaySetting){ 
                                if(relaySetting['relayId'].toString() === device['_id'].toString() &&
                                   relaySetting['gpio'] === myGpio
                                ){
                                    matchFound = true;
                    %>
                        <option value=<%=myGpio%>><%=relaySetting['relayType']%></option>
                    <%
                                }
                            });
                            if(matchFound === false){
                    %>
                        <option value=<%=myGpio%>><%=myGpio%></option>
                    <%
                            }
                        })
                    %>
  				</select>
  			</div>
  			<div class="form-group row">
  				<label class="col-sm-6 col-form-label" for="time">Set Start Time: </label>
				<input class="col-sm-20" type="time" id="time" name="schedule[start_time]" value="10:00:00" step="1" required>
            </div>
            <div class="form-group row">
  				<label class="col-sm-6 col-form-label" for="time">Set End Time: </label>
				<input class="col-sm-20" type="time" id="time" name="schedule[end_time]" value="13:30:00" step="1" required>
            </div>
            <div class="form-group row">
            	<label class="col-sm-6 col-form-label" for="DateCheckBox">Set Date?</label>
                <input class="col-sm-20" type="checkbox" name="StartDateCheckBox" onclick="myFunction('<%=ipStr%>StartDate')">
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="DateCheckBox">Set End Date?</label>
                <input class="col-sm-20" type="checkbox" name="EndDateCheckBox" onclick="myFunction('<%=ipStr%>EndDate')">
            </div>
            <div class="form-group row">
            	<label class="col-sm-6 col-form-label" for="DayOfWeekCheckBox">Set Day of Week?</label>
                <input class="col-sm-20" type="checkbox" name="DayOfWeekCheckBox" onclick="myFunction('<%=ipStr%>DayOfWeek')">
            </div>
 
                
            </script>
            <div class="form-group row" id="<%=ipStr%>StartDate" style="display:none">
            	<label class="col-sm-6 col-form-label" for="date">Set Date: </label>
            	<input class="col-sm-20" type="date" name="schedule[start_date]">
            </div>
            <div class="form-group row" id="<%=ipStr%>EndDate" style="display:none">
                <label class="col-sm-6 col-form-label" for="date">Set End Date: </label>
                <input class="col-sm-20" type="date" name="schedule[end_date]">
            </div>
            <div class="form-group row" id="<%=ipStr%>DayOfWeek" style="display:none" value="2020-10-13">
            	<label class="col-sm-6 col-form-label" for="weekDays-selector">Select day of week: </label>
            	<div class="weekDays-selector" id="weekDays-selector">
            		<label for="<%=ipStr%>weekday-sun" id='<%=ipStr%>sun' class="deselectedCheckbox">S</label>
					<input type="checkbox" id="<%=ipStr%>weekday-sun" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>sun')" class="weekday" value="0"/>
            		
            		<label for="<%=ipStr%>weekday-mon" id='<%=ipStr%>mon' class="deselectedCheckbox">M</label>
					<input type="checkbox" id="<%=ipStr%>weekday-mon" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>mon')" class="weekday" value="1"/>
					
					<label for="<%=ipStr%>weekday-tue" id='<%=ipStr%>tue' class="deselectedCheckbox">T</label>
					<input type="checkbox" id="<%=ipStr%>weekday-tue" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>tue')" class="weekday" value="2"/>
					
					<label for="<%=ipStr%>weekday-wed" id='<%=ipStr%>wed' class="deselectedCheckbox">W</label>
					<input type="checkbox" id="<%=ipStr%>weekday-wed" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>wed')" class="weekday" value="3"/>
			
					<label for="<%=ipStr%>weekday-thu" id='<%=ipStr%>thu' class="deselectedCheckbox">T</label>
					<input type="checkbox" id="<%=ipStr%>weekday-thu" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>thu')" class="weekday" value="4"/>
					
					<label for="<%=ipStr%>weekday-fri" id='<%=ipStr%>fri' class="deselectedCheckbox">F</label>
					<input type="checkbox" id="<%=ipStr%>weekday-fri" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>fri')" class="weekday" value="5"/>
					
					<label for="<%=ipStr%>weekday-sat" id='<%=ipStr%>sat' class="deselectedCheckbox">S</label>
					<input type="checkbox" id="<%=ipStr%>weekday-sat" name="schedule[dayOfWeek]" onclick="selectCheckbox('<%=ipStr%>sat')" class="weekday" value="6"/>
					
				</div>
            </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm">Add Schedule <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
        </fieldset>
    </form>
</div>
</div>
<!--Collapse Add a schedule form END-->
<div class="collapse" id="collapse<%=ipStr%>NewTest">
<div class="well" style="border-left: 5px solid #00C851;">
    <form id="add-comment-form" action="/schedule/smart" method="POST">
        <fieldset>
            <legend>
                <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Add your new schedule details
            </legend>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="time">Set Start Time: </label>
                <input class="col-sm-20" type="time" id="time" name="schedule[start_time]" value="10:00:00" step="1" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="time">Set End Time: </label>
                <input class="col-sm-20" type="time" id="time" name="schedule[end_time]" value="13:30:00" step="1" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="vegStartDate">Set Start Date: </label>
                <input class="col-sm-20" type="date" id="vegStartDate" name="vegetative[start_date]"required>
            </div>
            <% 
            if(rooms.length) { 
                rooms.forEach(function(room){
                    if(room['roomDeviceIds'].includes(device['_id'])){
                        let minGrowWeeks = 4,
                            maxGrowWeeks = 26;
                        switch(room['roomType']){
                            case 'Vegetative and Flowering':
                                %>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="vegLength">Set Vegetative Grow Length (weeks): </label>
                <select class="col-sm-20" name="vegLength">
                    <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                        %>
                             <option value=<%=i%>><%=i%> Weeks</option>
                        <%
                        }
                    %>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="flowerLength">Set Flowering Grow Length (weeks): </label>
                <select class="col-sm-20" name="flowerLength">
                    <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                        %>
                             <option value=<%=i%>><%=i%> Weeks</option>
                        <%
                        }
                    %>
                </select>
            </div>
                                <%
                                break;
                            case 'Vegetative':
                                %>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="vegLength">Set Vegetative Grow Length (weeks): </label>
                <select class="col-sm-20" name="vegLength">
                    <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                        %>
                             <option value=<%=i%>><%=i%> Weeks</option>
                        <%
                        }
                    %>
                    <option value="<%=Number.POSITIVE_INFINITY%>"><%= Number.POSITIVE_INFINITY%> Weeks</option>
                </select>
            </div>
                                <%
                                break;
                            case 'Flowering':
                                %>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="flowerLength">Set Flowering Grow Length (weeks): </label>
                <select class="col-sm-20" name="flowerLength">
                    <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                        %>
                             <option value=<%=i%>><%=i%> Weeks</option>
                        <%
                        }
                    %>
                    <option value="<%= Number.POSITIVE_INFINITY%>"><%= Number.POSITIVE_INFINITY%> Weeks</option>
                </select>
            </div>
                                <%
                                break;
                        }   
                    }
                    if(room['roomWaterDetails'].length){
                    %>
                        <p>Water Details found</p>
                    <%

                    }
                })
            } 
            %>
            <div class="form-group row">
                <button class="btn btn-success btn-sm">Add Room <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
        </fieldset>
    </form>
</div>
</div>