<!--Collapse Add a schedule form END-->
<div class="collapse" id="collapse<%=ipStr%>NewTest">
<div class="well" style="border-left: 5px solid #00C851;">
<form id="add-comment-form" action="/schedule/smart" method="POST">
    <fieldset id="scheduleFieldset">
        <legend>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Add your new schedule details
        </legend>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="time">Set Lighting Start Time: </label>
            <input class="col-sm-20" type="time" id="time" name="schedule[lighting_start_time]" value="10:00:00" step="1" required>
        </div>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="time">Set Lighting End Time: </label>
            <input class="col-sm-20" type="time" id="time" name="schedule[lighting_end_time]" value="13:30:00" step="1" required>
        </div>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="vegStartDate">Set Start Date: </label>
            <input class="col-sm-20" type="date" id="vegStartDate" name="vegetative[start_date]"required>
        </div>
        <% 
        let extraFieldSets = 0;
        if(rooms.length) { 
            rooms.forEach(function(room){
                if(room['roomDeviceIds'].includes(device['_id'])){
                    let minGrowWeeks = 4,
                        maxGrowWeeks = 26;
                    if(room['roomType'] === "Vegetative and Flowering" || room['roomType'] === "Vegetative"){  
        %>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="vegLength">Set Vegetative Grow Length (weeks): </label>
            <select class="col-sm-20" name="vegLength" onchange="waterSelectChanged(this, 'vegWaterTable')">
                <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                        %>
                            <option value=<%=i%>><%=i%> Weeks</option>
                        <%
                        }
                        if(room['roomType'] === "Vegetative"){
                    %>
                            <option value="<%=Number.POSITIVE_INFINITY%>"><%= Number.POSITIVE_INFINITY%> Weeks</option>
                    <% 
                        }
                    %>
            </select>
        </div>
        <% 
                    }
                    if(room['roomType'] === "Vegetative and Flowering" || room['roomType'] === "Flowering"){
        %>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="flowerLength">Set Flowering Grow Length (weeks): </label>
            <select class="col-sm-20" name="flowerLength" onchange="waterSelectChanged(this, 'floWaterTable')">
                <option value="-1" selected="selected" disabled>Select Your Grow Length:</option>
                    <% 
                        for(let i=minGrowWeeks; i <= maxGrowWeeks; i++){
                    %>
                            <option value=<%=i%>><%=i%> Weeks</option>
                    <%
                        }
                        if(room['roomType'] === "Flowering"){
                    %>
                            <option value="<%=Number.POSITIVE_INFINITY%>"><%= Number.POSITIVE_INFINITY%> Weeks</option>
                    <% 
                        }
                    %>
            </select>
        </div>
        <%
                    }   
                }
            })
        } 
        %>
    </fieldset>
    <% 
        if(rooms.length) { 
            rooms.forEach(function(room){
                if(room['roomDeviceIds'].includes(device['_id'])){
                    if(room['roomType'] === "Vegetative and Flowering" || room['roomType'] === "Vegetative"){
                        extraFieldSets = extraFieldSets + 1;
    %>
    <fieldset id="vegWaterFieldset" hidden>
        <legend>
            🌱
            Add your vegetative water schedule details
        </legend>

        <div class="form-group row" id="veg<%=ipStr%>DayOfWeek" value="2020-10-13">
            <label class="col-sm-6 col-form-label" for="weekDays-selector">Select day of week: </label>
            <div class="weekDays-selector" id="weekDays-selector">
                <label for="veg<%=ipStr%>weekday-sun" id='veg<%=ipStr%>sun' class="deselectedCheckbox">S</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-sun" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>sun')" class="weekday" value="0"/>
                
                <label for="veg<%=ipStr%>weekday-mon" id='veg<%=ipStr%>mon' class="deselectedCheckbox">M</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-mon" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>mon')" class="weekday" value="1"/>
                
                <label for="veg<%=ipStr%>weekday-tue" id='veg<%=ipStr%>tue' class="deselectedCheckbox">T</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-tue" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>tue')" class="weekday" value="2"/>
                
                <label for="veg<%=ipStr%>weekday-wed" id='veg<%=ipStr%>wed' class="deselectedCheckbox">W</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-wed" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>wed')" class="weekday" value="3"/>
        
                <label for="veg<%=ipStr%>weekday-thu" id='veg<%=ipStr%>thu' class="deselectedCheckbox">T</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-thu" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>thu')" class="weekday" value="4"/>
                
                <label for="veg<%=ipStr%>weekday-fri" id='veg<%=ipStr%>fri' class="deselectedCheckbox">F</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-fri" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>fri')" class="weekday" value="5"/>
                
                <label for="veg<%=ipStr%>weekday-sat" id='veg<%=ipStr%>sat' class="deselectedCheckbox">S</label>
                <input type="checkbox" id="veg<%=ipStr%>weekday-sat" name="schedule[dayOfWeek]" onclick="selectCheckbox('veg<%=ipStr%>sat')" class="weekday" value="6"/>
                
            </div>
        </div>
        <div class="rTable" id="vegWaterTable">
            <div class="rTableRow">
                <div class="rTableHead"><span style="font-weight: bold;">Week #</span></div>
                <div class="rTableHead"><span style="font-weight: bold;">Dates</span></div>
                <div class="rTableHead"><span style="font-weight: bold;">Pump Run Time</div>
                <div class="rTableHead"><span style="font-weight: bold;">Inches of Water</div>
                <div class="rTableHead"><span style="font-weight: bold;">Cups of Water</div>
            </div>

        </div>
    </fieldset>
                <%
                    }

                %>
    <%
                    if(room['roomType'] === "Vegetative and Flowering" || room['roomType'] === "Flowering"){
                        extraFieldSets = extraFieldSets + 1;
    %>
    <fieldset id="floWaterFieldset" hidden>
        <legend>
            🌻
            Add your flowering water schedule details
        </legend>
        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="time">Set Watering Start Time: </label>
            <input class="col-sm-20" type="time" id="time" name="schedule[lighting_start_time]" value="10:00:00" step="1" required>
        </div>
        <div class="form-group row" id="flo<%=ipStr%>DayOfWeek" value="2020-10-13">
            <label class="col-sm-6 col-form-label" for="weekDays-selector">Select day of week: </label>
            <div class="weekDays-selector" id="weekDays-selector">
                <label for="flo<%=ipStr%>weekday-sun" id='flo<%=ipStr%>sun' class="deselectedCheckbox">S</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-sun" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>sun')" class="weekday" value="0"/>
                
                <label for="flo<%=ipStr%>weekday-mon" id='flo<%=ipStr%>mon' class="deselectedCheckbox">M</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-mon" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>mon')" class="weekday" value="1"/>
                
                <label for="flo<%=ipStr%>weekday-tue" id='flo<%=ipStr%>tue' class="deselectedCheckbox">T</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-tue" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>tue')" class="weekday" value="2"/>
                
                <label for="flo<%=ipStr%>weekday-wed" id='flo<%=ipStr%>wed' class="deselectedCheckbox">W</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-wed" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>wed')" class="weekday" value="3"/>
        
                <label for="flo<%=ipStr%>weekday-thu" id='flo<%=ipStr%>thu' class="deselectedCheckbox">T</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-thu" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>thu')" class="weekday" value="4"/>
                
                <label for="flo<%=ipStr%>weekday-fri" id='flo<%=ipStr%>fri' class="deselectedCheckbox">F</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-fri" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>fri')" class="weekday" value="5"/>
                
                <label for="flo<%=ipStr%>weekday-sat" id='flo<%=ipStr%>sat' class="deselectedCheckbox">S</label>
                <input type="checkbox" id="flo<%=ipStr%>weekday-sat" name="schedule[dayOfWeek]" onclick="selectCheckbox('flo<%=ipStr%>sat')" class="weekday" value="6"/>
                
            </div>
        </div>
        <div class="rTable" id="floWaterTable">
            <div class="rTableRow">
                <div class="rTableHead"><span style="font-weight: bold;">Week #</span></div>
                <div class="rTableHead"><span style="font-weight: bold;">Dates</span></div>
                <div class="rTableHead"><span style="font-weight: bold;">Pump Run Time</div>
                <div class="rTableHead"><span style="font-weight: bold;">Inches of Water</div>
                <div class="rTableHead"><span style="font-weight: bold;">Cups of Water</div>
            </div>

        </div>
    </fieldset>

                  
            
    <% 
                    }
                }
            });
        } 
    %>
    <fieldset id="reviewFieldset" hidden>
        <legend>
            <i class="fa fa-fw fa-glasses"></i>
            Review your new schedule details
        </legend>
        
    </fieldset>

    <div style="overflow:auto;">
      <div style="float:right;">
        <button class="btn btn-success btn-sm" type="button" id="prevBtn" onclick="nextPrev(this, -1)" style="display: none">Previous</button>
        <button class="btn btn-success btn-sm" type="button" id="nextBtn" onclick="nextPrev(this, 1)">Next</button>
        <button class="btn btn-success btn-sm" id="submitBtn" style="display: none;">Submit <i class="fa fa-calendar" aria-hidden="true" ></i></button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span id="step0" class="step active"></span>
        <% 
            for(let i = 0; i < extraFieldSets; i++){
        %>
        <span id="step<%=i + 1%>" class="step"></span>
        <%

            }
        %>
        <span id="step<%=1+extraFieldSets%>" class="step"></span>     
    </div>
</form>
</div>
</div>